<div class='col-lg-12' >
  <div class='home-top'>
    <%= @main_content.content.html_safe %>
   
  </div>
<!--
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <%- SliderImage.home.each_with_index do |image, i| %>
    
        <li data-target="#carousel-example-generic" '<%= "#{i}"%>' class=' <%= (i == 0) ? "active" : "" %>'></li>
      <%- end %>
    </ol>


    <div class="carousel-inner" role="listbox">

    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
-->
	<hr>
  <div id="featured-box">

    <div class="large_format_featured">
      <%- @subs.each_with_index do |c, i| %>
     	<div class='col-lg-4 col-md-4 col-sm-4'>
				<div class='feature-wrapper'>
					 <%= image_tag(c.image_file_name.url()) %>
          <%= c.content.html_safe %>
       
          <%= link_to 'Shop Now', c.link, class: 'btn-shop'%>
				</div>
				
			</div>
      <% end %>

    </div>
  </div>
</div>

