<div class="col-lg-6 mtl">
  <div class="profile-edit-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

     <h3>Account Details:</h3>
      <fieldset class="form-field mbs">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-input"  %>
      </fieldset>

      <fieldset class="form-field mbs">
        <%= f.label :current_password, "Current password*", class: "form-label" %> 
        <%= f.password_field :current_password, autocomplete: "off", class: "form-input"  %>
      </fieldset>

      <fieldset class="form-field mbs">
        <%= f.label :password, class: "form-label" %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "off", class: "form-input" %>
       </fieldset>

      <fieldset class="form-field mbs">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-input" %>
      </fieldset>
      
      <h3>Company Info:</h3>

      <fieldset class="form-field mbs">
        <%= f.label :company_name, "Company Name", class: "form-label" %>
        <%= f.text_field :company_name, class: "form-input" %>
      </fieldset>

      <fieldset class="form-field mbs">
        <%= f.label :company_address, "Company Address", class: "form-label" %>
        <%= f.text_field :company_address, class: "form-input" %>
      </fieldset>

      <fieldset class="form-field mbs row">
        <div class="col-lg-5">   
        <%= f.label :company_province, "Province", class: "form-label" %>
        <%= f.select(:company_province, options_for_select(User.provinces, resource.company_province), {}, class: "form-control") %>
        </div>
        <div class="col-lg-4">  
        <%= f.label :company_city, "City", class: "form-label" %>
        <%= f.text_field :company_city, class: "form-input" %>
        </div>
        <div class="col-lg-3">
        <%= f.label :company_postal, "Postal Code", class: "form-label" %>
        <%= f.text_field :company_postal, class: "form-input" %>
        </div>
      </fieldset>

      <fieldset class="form-field mbs row">   
        <div class="col-lg-8">  
        <%= f.label :company_phone, "Company Phone", class: "form-label" %>
        <%= f.text_field :company_phone, class: "form-input" %>
        </div>
        <div class="col-lg-4">  
        <%= f.label :company_hst, "HST #", class: "form-label" %>
        <%= f.text_field :company_hst, class: "form-input" %>
        </div>

      </fieldset>

      <div class="group">
        <%= f.submit "Update", class: "profile-button mbs pull-right"  %>
      </div>
    <% end %>
  </div>
</div>