
<div class='signup-form'>


    <h2>Create an Free Account</h2>
     <%- if(resource_name == :broker ) %>
  <div class="col-lg-8 col-md-8 col-xs-8 col-lg-offset-2">
   <%- else %> 
      <div class="col-lg-6 col-md-6 col-xs-6 ">
        <% end %>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%- if(resource_name == :broker ) %>
        <h3>Account Info:</h3>
      <% end %>  
      <fieldset class="form-field mbs">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-input"  %>
      </fieldset>

      <fieldset class="form-field mbs">
        <%= f.label :password, class: "form-label" %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
        <%= f.password_field :password, autocomplete: "off", class: "form-input" %>
       </fieldset>

      <fieldset class="form-field mbs">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-input" %>
      </fieldset>
      <%- if resource_name == :broker %>
        <h3>Company Info:</h3>

        <fieldset class="form-field mbs">
          <%= f.label :company_name, "Company Name", class: "form-label" %>
          <%= f.text_field :company_name, class: "form-input" %>
        </fieldset>

        <fieldset class="form-field mbs">
          <%= f.label :company_address, "Company Address", class: "form-label" %>
          <%= f.text_field :company_address, class: "form-input" %>
        </fieldset>

        <fieldset class="form-field mbs row">
          <div class="col-lg-5">   
          <%= f.label :company_province, "Province", class: "form-label" %>
          <%= f.select(:company_province, options_for_select(Broker.provinces), {}, class: "form-control") %>
          </div>
          <div class="col-lg-4">  
          <%= f.label :company_city, "City", class: "form-label" %>
          <%= f.text_field :company_city, class: "form-input" %>
          </div>
          <div class="col-lg-3">
          <%= f.label :company_postal, "Postal Code", class: "form-label" %>
          <%= f.text_field :company_postal, class: "form-input", :maxlength => 6 %>
          </div>
        </fieldset>

        <fieldset class="form-field mbs row">   
          <div class="col-lg-8">  
          <%= f.label :company_phone, "Company Phone", class: "form-label" %>
          <%= f.text_field :company_phone, class: "form-input" %>
          </div>
          <div class="col-lg-4">  
          <%= f.label :company_hst, "HST #", class: "form-label" %>
          <%= f.text_field :company_hst, class: "form-input", :maxlength => 9 %>
          </div>

        </fieldset>
      <% end %>  
      <div class='pull-right'>
        <%= f.submit "Sign up", class: "btn btn-submit" %>
      </div>
    <% end %>
    </div>
  <%- if(resource_name == :user ) %>
  <div class="col-lg-6 col-md-6 col-xs-6 mts">
      <%= link_to "Register as Broker", new_broker_registration_path(), class: "btn btn-login" %>
  </div>
    <% end %>  
</div>
 