<div class="signup-page">
  <div class="signup-form col-main">

    <h2>Create an Free Account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <h3>Account Info:</h3>
      <fieldset class="form-field mbs">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-input"  %>
      </fieldset>

      <fieldset class="form-field mbs">
        <%= f.label :password, class: "form-label" %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
        <%= f.password_field :password, autocomplete: "off", class: "form-input" %>
       </fieldset>

      <fieldset class="form-field mbs">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-input" %>
      </fieldset>
      
      <h3>Company Info:</h3>

      <fieldset class="form-field mbs">
        <%= f.label :company_name, "Company Name", class: "form-label" %>
        <%= f.text_field :company_name, class: "form-input" %>
      </fieldset>

      <fieldset class="form-field mbs">
        <%= f.label :company_address, "Company Address", class: "form-label" %>
        <%= f.text_field :company_address, class: "form-input" %>
      </fieldset>

      <fieldset class="form-field mbs row">
        <div class="col-lg-5">   
        <%= f.label :company_province, "Province", class: "form-label" %>
        <%= f.select(:company_province, options_for_select(User.provinces), {}, class: "form-control") %>
        </div>
        <div class="col-lg-4">  
        <%= f.label :company_city, "City", class: "form-label" %>
        <%= f.text_field :company_city, class: "form-input" %>
        </div>
        <div class="col-lg-3">
        <%= f.label :company_postal, "Postal Code", class: "form-label" %>
        <%= f.text_field :company_postal, class: "form-input", :maxlength => 6 %>
        </div>
      </fieldset>

      <fieldset class="form-field mbs row">   
        <div class="col-lg-8">  
        <%= f.label :company_phone, "Company Phone", class: "form-label" %>
        <%= f.text_field :company_phone, class: "form-input" %>
        </div>
        <div class="col-lg-4">  
        <%= f.label :company_hst, "HST #", class: "form-label" %>
        <%= f.text_field :company_hst, class: "form-input", :maxlength => 9 %>
        </div>

      </fieldset>
      <div style="padding-left: 20px;">
        <%= f.submit "Sign up", class: "btn btn-submit" %>
      </div>
    <% end %>
  </div> <!-- End Form-->

  <div class="signup-sidebar col-side">
    <h2>Sira Print</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>

    <ul>
      <li>Benefit #1</li>
      <li>Benefit #2</li>
      <li>Benefit #3</li>
    </ul>
  </div> <!-- End Sidebar-->

</div>