.panel               
  %h3 Thickness Details
  .panel_contents
    .thickness-detail-main
      = image_tag material.material_image.url()
      .thickness-detail-name
        = "#{material.material_name()}(#{thickness.thickness}#{thickness.unit.downcase})"
      .thickness-detail-buttons
        = link_to "Remove", admin_material_thickness_path(material), method: :delete, data: {confirm: I18n.t('active_admin.delete_confirmation')}
        = link_to("Edit", edit_admin_material_thickness_path(material, large_print_id: material.large_print_id))
    .thickness-tiers.group
      %table
        %thead
          %tr
            %th Tier Level
            %th Min Sqft
            %th Max Sqft
            %th Price
            %th
            
        %tbody
          - thickness.large_print_tiers.each do |t|
            %tr.odd
              %td
                = t.level
              %td
                = t.min_sqft
              %td
                = t.max_sqft
              %td
                = t.price
              %td
                = link_to("Edit", edit_admin_large_print_tier_path(t, large_print_id: material.large_print_id))
                |
                = link_to "Remove", admin_large_print_tier_path(t), method: :delete, data: {confirm: I18n.t('active_admin.delete_confirmation')}
      = link_to("Add New Tier", new_admin_large_print_tier_path(large_print_id: material.large_print_id,material_thickness_id: thickness.id), class: "link_button right")
