%tr
  %td
    = order.order_id
  %td
    - if order.delivery_address
      = order.delivery_address.html_safe()
  %td
    - order.ordered_products.each do |p|
      %ul
        %li
          = "#{p.quantity}x #{p.product_type.camelize.split("_").join(" ")}"
  %td
    = "$#{order.total}"
  %td
    %span{class: "order_status status_#{order.status}"}
      = order.status.camelize
  %th 
    - if order.status == "open"
      = link_to "Cancel Order", cancel_order_path(order)
      | 
      = link_to "Update Order", cart_path()