<div class="col-lg-offset-1 col-lg-6 mgtb-l">

  <div class="align-center">
    <h2>Reset your password</h2>
  </div>



<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  
  <fieldset class="form-field mbs-m">
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-input login" %>
  </fieldset>

  <fieldset class="form-field mbs-m">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-input login" %>
  </fieldset>

  <div class="mts mbs align-center">
    <%= f.submit "Change My Password", class: "btn btn-submit" %>
  </div>
<% end %>
