%table.table.table-striped.cart
  %thead
    %tr
      %th 
      %th Product Detail
      %th Print Size(Sqft)
      %th Quantity
      %th Design
      %th Sub-Total
  %tbody
    - order.ordered_products.each do |p|
      %tr
        %td
          = image_tag p.product.display_image_file_name.url()
        %td
          %strong
            = p.product.name
          - if p.product_type == "large_format"
            %br
            Thickness: 
            = "#{p.details.thickness.thickness}#{p.details.thickness.unit}"
            %br
            - if p.details.finishing
              Finishing: 
              = p.details.finishing.join(", ")
          - unless step == "pay"
            %br
            = link_to "remove", remove_item_order_path(p), class: "remove-ordered-product", :method => :post
        %td
          = p.details.size()
        %td.quantity
          - if step == "pay"
            = "#{p.quantity}"
          - else
            = text_field_tag "quantity_#{p.id}", p.quantity, class: "update-quantity form-control"
            %span.update-quantity
              = link_to "update", "#", class: "qty-update-button edit", data: { url: update_item_order_path(p.id)}
        %td
          = link_to File.basename(p.print_pdf_file_name.path), p.print_pdf_file_name.url()
          - if p.print_pdf_2_file_name
            = link_to File.basename(p.print_pdf_2_file_name.path), p.print_pdf_2_file_name.url()
        %td
          = "$#{p.price}"

%table.cart-totals{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tbody
    %tr
      %td{:width => "550"} 

      %td.totals-section
        - if step == "pay" || order.delivery_method()
          %dl.delivery-details
            %dt Delivery Details:
            %dd
              = order.delivery_address.html_safe()
        %dl.totals
          %dt Subtotal:
          %dd
            %span#subtotal
              = @order.sub_total
          %dt Tax (HST 13%):
          %dd
            %span#subtotal
              = @order.get_tax
          %dt.est Estimated Total
          %dd.estimate
            %dl
              %dt Estimated Total:
              %dd
                $
                %span#est_total
                  = @order.total