.col-lg-12.delivery-info
  .row
    .col-lg-7.col-md-7.col-sm-7.col-xs-7
      .panel.panel-default
        .panel-heading
          %h3.panel-title Delivery Info
        .panel-body
          .row
            .col-lg-12
              
              %span.delivery-location.mgl{style: "text-align:center;"}
                %strong 
                  I'll Pickup My Orders 
                  %br 
                  (Currently We Only Support Pickup)
                %br
                401 Magnetic Dr,
                %br
                Toronto, Ontario
                %br
                M3J 3H9
                %br
                (416) 953-8669
              - if !@final
                .delivery-to.delivery-button-primary.delivery-button
                  %span.delivery-button-inner
                    = link_to "Delivery to this address", select_delivery_order_path(@order, :method => "Pickup"), class: "delivery-button-text"
                    
                 
            -# -if current_user.delivery_addresses.any?
            -#   - current_user.delivery_addresses.each do |a|
            -#     .col-lg-6
            -#       %span.delivery-location.mgl
            -#         %strong 
            -#           = a.full_name()
            -#         %br
            -#         = a.address()
            -#         %br
            -#         = "#{a.city()}, #{a.province()}"
            -#         %br
            -#         %span.uppercase
            -#           = "#{a.postal[0..2]} #{a.postal[3..5]}"
            -#         %br
            -#           = a.user.company_phone()
            -#       - if @order.delivery_id == a.id
            -#         .delivery-to.delivery-address-selected
            -#           %p.delivery-button-text Selected
            -#       - else
            -#         .delivery-to.delivery-button-primary.delivery-button
            -#           %span.delivery-button-inner
            -#             = link_to "Delivery to this address", select_delivery_order_path(@order, :method => "Deliver", :delivery_address_id => a.id), class: "delivery-button-text"
            -#       .delivery-address-buttons.mtt-xs.group
            -#         = link_to "Edit", edit_delivery_address_path(a, order_form: "Yes"), class: "profile-button profile-button-small"
            -#         - unless @order.delivery_id == a.id
            -#           = link_to "Remove", delivery_address_path(a, order_form: "Yes"), class: "profile-button profile-button-small", data: { confirm: "Are you sure?" }, method: :delete
     
            -# - else
      -# .panel.panel-default
      -#   .panel-heading
      -#     %h3.panel-title New Delivery Address
      -#   .panel-body
      -#     = form_for(DeliveryAddress.new(), url: delivery_addresses_path(order_form: "Yes")) do |f|
      -#       %fieldset.mbs
      -#         = f.label :full_name, "Full Name", class: "form-label"
      -#         = f.text_field :full_name, class: "form-input"
      -#       %fieldset.mbs
      -#         = f.label :address, "Address", class: "form-label"
      -#         = f.text_field :address, class: "form-input"
      -#       %fieldset.mbs.row
      -#         .col-lg-5
      -#           = f.label :province, "Province", class: "form-label"
      -#           = f.select(:province, options_for_select(User.provinces), {}, class: "form-control")
      -#         .col-lg-4
      -#           = f.label :city, "City", class: "form-label"
      -#           = f.text_field :city, class: "form-input"
      -#         .col-lg-3
      -#           = f.label :postal, "Postal Code", class: "form-label"
      -#           = f.text_field :postal, class: "form-input", :maxlength => 6
      -#       %div
      -#         = f.submit "Delivery to this address", class: "btn btn-submit"
      - if @final
        = form_for @order, url: url_for(:controller => 'orders', :action => 'pay') do |f|
          .panel.panel-default
            .panel-heading
              %h3.panel-title Billing Address
            .panel-body
              %fieldset.mbs
                = f.label :billing_address, "Address", class: "form-label"
                = f.text_field :billing_address, class: "form-input"
                -if @errors && @errors.has_key?(:billing_address)
                  %span.alert-text
                    = @errors[:billing_address].join()  
                
              %fieldset.mbs.row
                .col-lg-5
                  = f.label :billing_prov, "Province", class: "form-label"
                  = f.select(:billing_prov, options_for_select(Broker.provinces), {}, class: "form-control")
                .col-lg-4
                  = f.label :billing_city, "City", class: "form-label"
                  = f.text_field :billing_city, class: "form-input"
                  -if @errors && @errors.has_key?(:billing_city)
                    %span.alert-text
                      = @errors[:billing_city].join()  
                .col-lg-3
                  = f.label :billing_postal, "Postal Code", class: "form-label"
                  = f.text_field :billing_postal, class: "form-input", :maxlength => 6
                  -if @errors && @errors.has_key?(:billing_postal)
                    %span.alert-text
                      = @errors[:billing_postal].join()  
          .panel.panel-default
            .panel-heading
              %h3.panel-title Payment Info
            .panel-body
              .fieldset.mbs
                = f.label :name_on_card, class: "form-label"
                = f.text_field :name_on_card, class: "form-input"
                -if @errors && @errors.has_key?(:name_on_card)
                  %span.alert-text
                    = @errors[:name_on_card].join() 
              .fieldset.mbs
                = f.label :card_type, class: "form-label"
                = f.select :card_type,  options_for_select([["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]]), {}, class: "form-control"
                -if @errors && @errors.has_key?(:brand)
                  %span.alert-text
                    = "Card brand #{@errors[:brand].join()}"
              .fieldset.mbs
                .row
                  .col-lg-8.col-md-8.col-sm-8.col-xs-8
                    = f.label :card_number, class: "form-label"
                  .col-lg-4.col-md-4.col-sm-4.col-xs-4
                    = f.label :card_verification, "CVV", class: "form-label"
                .row
                  .col-lg-8.col-md-8.col-sm-8.col-xs-8
                    = f.text_field :card_number, class: "form-input"
                    -if @errors && @errors.has_key?(:number)
                      %span.alert-text
                        = @errors[:number].join() 
                  .col-lg-4.col-md-4.col-sm-4.col-xs-4
                    = f.text_field :card_verification, class: "form-input"
                    -if @errors && @errors.has_key?(:verification_value)
                      %span.alert-text
                        = @errors[:verification_value].join() 
              .fieldset.mbs.expire-date.group
                = f.label :card_expires_on, class: "form-label"
                = f.date_select :card_expires_on,{ :discard_day => true, start_year: Date.today.year, end_year: (Date.today.year+10),add_month_numbers: true }, class: "form-control" 
                -if @errors && @errors.has_key?(:year)
                  %span.alert-text
                    card already expired.
              .checkout-buttons.pull-right
                = f.submit "Print My Order", class: "btn btn-primary"
    .col-lg-5.col-md-5.col-sm-5.col-xs-5 
      .panel.panel-default
        .panel-heading
          %h3.panel-title Cart Summry
        .panel-body.summary
          - @order.ordered_products.each do |p|
            %dl.items
              %dt Product Image
              %dd.design
                = image_tag p.product.display_image_file_name.url()
              %dt Product Name
              %dd.title
                %strong
                  - if p.product_type == "large_format"
                    = "#{p.product_type.camelize.split("_").join(" ")}(#{p.product.name})"
                  - else
                    = p.product.name
                %span 
                  - if p.product_type == "large_format"
                    Thickness: 
                    = "#{p.details.thickness.thickness}#{p.details.thickness.unit}, Finishing: #{p.details.finishing} #{p.details.grommets_quantity} "
              %dt Product Subtotal
              %dd.sub 
                = "$#{p.price}"
          %dl.totals
            %dt Subtotal
            %dd 
              = "$#{@order.sub_total}"
            %dt Tax (HST 13%)
            %dd 
              = "$#{@order.get_tax}"
            %dt.summary_total Total
            %dd#total_amount_due 
              = "$#{@order.total}"