.delivery-info
  .row
    .col-lg-8
      .panel.panel-default
        .panel-heading
          %h3.panel-title Delivery Info
        .panel-body
          .row
            .col-lg-4
              
              %span.delivery-location.mgl
                %strong I'll Pickup My Orders
                %br
                401 Magnetic Dr,
                %br
                Toronto, Ontario
                %br
                M3J 3H9
                %br
                (416) 953-8669
              .delivery-to.delivery-button-primary.delivery-button
                %span.delivery-button-inner
                  = link_to "Delivery to this address", "#", class: "delivery-button-text"
                    
                 
            -if current_user.delivery_addresses.any?
              - current_user.delivery_addresses.each do |a|
                .col-lg-4
                  %span.delivery-location.mgl
                    %strong 
                      = a.full_name()
                    %br
                    = a.address()
                    %br
                    = "#{a.city()}, #{a.province()}"
                    %br
                    %span.uppercase
                      = "#{a.postal[0..2]} #{a.postal[3..5]}"
                    %br
                      = a.user.company_phone()
                  .delivery-to.delivery-button-primary.delivery-button
                    %span.delivery-button-inner
                      = link_to "Delivery to this address", "#", class: "delivery-button-text"
                  .delivery-address-buttons.mtt-xs.group
                    = link_to "Edit", edit_delivery_address_path(a), class: "profile-button profile-button-small"
                    = link_to "Remove", delivery_address_path(a), class: "profile-button profile-button-small", data: { confirm: "Are you sure?" }, method: :delete
     
            - else
      .panel.panel-default
        .panel-heading
          %h3.panel-title New Delivery Address
        .panel-body
          
    .col-lg-4 
      .panel.panel-default
        .panel-heading
          %h3.panel-title Cart Summry
        .panel-body
          