.container.order-cart
  - if @order
    .group
      %h1 Stuff in Your Cart
    = form_tag url_for(:controller => 'orders', :action => 'create'), class: "large-prints-form" do
      = render 'order_table', order: @order, step: ""

      - if @order.delivery_method()
        .express-checkout-button.group.mgl
          = link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_order_path(@order)
        
      .checkout-buttons.group.mgl
        = link_to "Select Delivery Method", delivery_info_path(), class: ""
        
  - else
    #empty_cart.empty_cart
      %span.group
        %h1 Your Cart
      %div
        %p
          %strong Your cart is empty, so it's sad and lonely.
        %p Turn its frown upside down: fill it with stuff!
        = link_to "Shop!", root_path()