<div class="col-main">
  <h2><%= @metal_sign.name %></h2>
  <div class="galleria" id="galleria" style="height: 518px">
      <%- if SliderImage.metal_sign.any? %>
        <%- SliderImage.metal_sign.each do |image| %>
          <%= image_tag(image.slide_image.url()) if image.slide_image? %>
        <%- end %>
      <%- end %>
  </div>
  <div class="item-description">
    <h3>Item Description</h3>
    <p>
      <%= @metal_sign.description.html_safe() %>
    </p>
  </div>
</div>
<div class="col-side order_form">
  <%= form_tag url_for(:controller => 'orders', :action => 'create'), class: "metal-signs-form", multipart: true do %>
    <%= hidden_field_tag '[order]product_type', 'metal_sign' %>
    <%= hidden_field_tag '[order]product_id', @metal_sign.id %>
    <%= hidden_field_tag '[order]total_price', '' %>
    <%= hidden_field_tag '[order]unit_price', '' %>


    <div class="sign-item-size product-box">
      <h3>Step 1: Select Your Size</h3>
      <%= select("order", "[details]size_id", @metal_sign.metal_sign_sizes.collect {|s| [ "#{s.width}\" x #{s.height}\" - $#{s.price}", s.id ] }, {include_blank: 'Please select your size'}, class: "size-selection form-control") %>
    </div>
    <div class="item-upload product-box">
      <h3>Step 2: Upload Your Design</h3>
      <div class="input-group">
        <%= text_field_tag 'design_pdf_name', nil, class: "form-control", readonly: true  %>
        <span class="input-group-btn">
          <span class="btn btn-primary btn-file">
            Browse 
            <%= file_field_tag '[order]design_pdf', class: 'design_pdf' %>
          </span>
        </span>
      </div>
      <span class='error hidden' style="display: block; width: 100%; color: red;">Please upload your design!</span>
    </div>
    <div class="item-final product-box">
      <h3>Step 3: Place Your Order</h3>
      <div class="quantity-box">
        <div class="row mgl">
          <div class="col-lg-6">
            <%= label_tag '[order]quantity', "Number of Prints" %>
          </div>
          <div class="col-lg-6">
            <%= number_field_tag '[order]quantity', 1, class: "quantity-field form-control", in: 1...10000 %>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="per-price-box">
        Cost Per Print:
        <span class="per-placeholder"></span>
      </div>
      <div class="total-price-box">
        Total Cost:
        <span class="total-placeholder"></span>
      </div>
      <div class="divider"></div>
      
    </div>
    <div class="submit-order">
      <%= button_tag "Place My Order", class: "btn btn-place-order" %>
    </div>
  <% end %>
</div>
        
<script>
  gallery_setup = function() {
    Galleria.loadTheme("<%=  asset_path('galleria.classic.js') %>");
    
    Galleria.configure({
      height: 458, 
      width: 580, 
      responsive: true, 
      lightbox: false, 
      autoplay: true,
      transition: 'fade',
      showInfo: false
    });

    Galleria.run('#galleria');
  } 
  $(document).ready(gallery_setup);
  $(document).on('page:load', gallery_setup);
</script>