
<div class="col-lg-6 col-md-6 col-sm-6">
  <h2><%= @metal_sign.name %></h2>
  <div class="galleria" id="galleria" style="height: 518px">
    <%- if SliderImage.where(product_type: @metal_sign.name_for_db).any? %>
      <%- SliderImage.where(product_type: @metal_sign.name_for_db).each do |image| %>
        <%= image_tag(image.slide_image_file_name.url())  %>
      <%- end %>
    <%- end %>
  </div>
    
  <%- if @metal_sign.has_video? %>
    <div class='item-video'>
      <h3>Product Video</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @metal_sign.video %>" frameborder="0" allowfullscreen=""></iframe>
      
    </div>
    <hr/>
   <%- end %>
  <div class="item-description">
    <h3>Item Description</h3>
    <p>
      <%= @metal_sign.description.html_safe() %>
    </p>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="order_form">
    <%= form_tag url_for(:controller => 'orders', :action => 'create'), class: "metal-signs-form" do %>
    <div id="product-options" data-price-url="<%=  get_price_metal_sign_path(@metal_sign) %>"  data-u-type="<%=  current_active.class.name %>" data-b-disc="<%=  @metal_sign.broker_discount %>"></div>
    <%= hidden_field_tag '[order]product_type', 'metal_sign' %>
    <%= hidden_field_tag '[order]product_id', @metal_sign.id %>

    <div class="sign-item-size product-box">
      <h3>Size</h3>
      <%= select("order", "[details]size_id", @metal_sign.metal_sign_sizes.collect {|s| [ "#{s.width}\" x #{s.height}\"", s.id ] }, {include_blank: 'Please select your size'}, class: "size-selection form-control") %>
    </div>


    <div class="item-final product-box">
      <h3>Quantity</h3>
     
      <div class="quantity-box">
        <div class="row mgl">
      
          <div class="col-lg-12">
            <%= number_field_tag '[order]quantity', 1, class: "quantity-field form-control", in: 1...10000 %>
          </div>
        </div>
      </div>
    </div>
    <div class="product-box">
      <h3>Additional Comments</h3>
      <%= text_area_tag '[order]comment', "", class: "form-control", style: "height: 80px;" %>
    </div>
    <div class="divider"></div>
    <%- if current_active.is_a?(Broker) %>
      <div class="per-price-box">
        Cost Per Print (Before Disount):
        <span class="before-per-placeholder">
          $0
        </span>
      </div>
    <% end %>
    <div class="per-price-box">
      Cost Per Print:
      <span class="per-placeholder"></span>
    </div>
    <%- if current_active.is_a?(Broker) %>
      <div class="bd-box">
        Broker Discount:
        <span class="bd-placeholder">
          <%= "#{@metal_sign.broker_discount}%" %>
        </span>
      </div>
    <% end %>
    <div class="total-price-box">
      Total Cost:
      <span class="total-placeholder"></span>
    </div>
 

    <div class="submit-order">
      <%= button_tag "Add to Cart", class: "btn btn-place-order" %>
    </div>
    <% end %> 
</div>
</div>    
<script>
  gallery_setup = function() {
    Galleria.loadTheme("<%=  asset_path('galleria.classic.js') %>");
    
    Galleria.configure({
      height: 458, 
      width: 580, 
      responsive: true, 
      lightbox: false, 
      autoplay: true,
      transition: 'fade',
      showInfo: false
    });

    Galleria.run('#galleria');
  } 
  $(document).ready(gallery_setup);
  $(document).on('page:load', gallery_setup);
</script>