<%= form_tag url_for(:controller => 'orders', :action => 'create'), class: "lcds-form" do %>
<div id="product-options" data-price-url="<%=  get_price_lcd_path(@lcd) %>"  data-max-w="<%=  @lcd.max_width() %>" data-max-l="<%=  @lcd.max_length() %>" data-u-type="<%=  current_active.class.name %>" data-b-disc="<%=  @lcd.broker_discount %>"></div>
  <%= hidden_field_tag '[order]product_type', 'lcd' %>
  <%= hidden_field_tag '[order]product_id', @lcd.id %>
  
  <div class="item-size product-box group">
    <h3>Size</h3>
    <div class="wlu-box">
      <%= label_tag "[order][details]width", "Width" %>
      <%= text_field_tag "[order][details]width", nil, class: "product-width form-control" %>
    </div>
    <div class="wlu-box">
      <%= label_tag "[order][details]length", "Length" %>
      <%= text_field_tag '[order][details]length', nil, class: "product-length form-control" %>
    </div>
    <div class="wlu-box">
      <%= label_tag "[order][details]unit", "Unit" %>
      <%= select_tag '[order][details]unit', options_for_select(["inch", 'feet']), class: "product-unit form-control" %>
    </div>
  </div>

  <% if @lcd.has_two_side %>
    <div class="item-side product-box">
    <h3>Side</h3>
    <%= select("order", "[details]side", options_for_select(@lcd.side_options), {}, class: "side-selection form-control", data: {name: "#{@lcd.name}"}) %>
    </div>
  <% else %>
    <%= hidden_field_tag '[order][details]side', 1 %>  
  <% end %>

  <div class="item-thickness product-box">
    <h3>Thickness</h3>
    <%= select("order", "[details]thickness_id", @lcd.lcd_thicknesses.collect {|t| [ "#{t.thickness}#{t.unit}", t.id ] }, {include_blank: 'Please select your thickness'}, class: "thickness-selection form-control", data: {toggle: 'tooltip', title: 'Select Thickness'}) %>
  </div>

  <div class="item-finishing-options product-box">
    <h3>Finishing</h3>

    <div class="finishing-select group">
      <% if @none %>
        <!-- None Check Box -->
        <%= check_box_tag "[order][details]finishing[]", "None", true, id: "finishing_none", class: "finish-select" %>
        <label for="finishing_none" class="finsihing-select">None</label>
      <% end %>

      <% @lcd.lcd_finishings.each_with_index do |f, i| %>
        <% next if f.name == "None" %>
        <%= check_box_tag "[order][details]finishing[]", f.name, false, id: "finishing_#{f.id}", class: "finish-select" %>
        <label for="<%= "finishing_#{f.id}" %>" class="finsihing-select">
          <%= f.name %>
        </label>
      <% end %>

    </div>
 
  </div>
  <div class="item-quantity product-box">
    <h3>Quantity</h3>
    <div class="quantity-box">
      <div class="row mgl">
  <!--       <div class="col-lg-6">
          <%= label_tag '[order]quantity', "Number of Prints" %>
        </div> -->
        <div class="col-lg-12">
          <%= text_field_tag '[order]quantity', 1, class: "quantity-field form-control" %>
        </div>
      </div>
    </div>
  </div>
  <div class="express product-box">
      <h3>Express Printing</h3>
      <%= check_box_tag('[order]express', "child") %>
      <%= label_tag('[order]express', "Get It In 24 Hours(Additional Cost)") %>
  </div>
  <div class="product-box">
    <h3>Additional Comments</h3>
    <%= text_area_tag '[order]comment', "", class: "form-control", style: "height: 80px;" %>
  </div>
  <div class="item-checkout product-box">
    <div class="divider"></div>
    <%- if current_active.is_a?(Broker) %>
      <div class="per-price-box">
        Cost Per Print:
        <span class="before-per-placeholder">
          $0
        </span>
      </div>
    <% end %>
    <div class="per-price-box">
      Discounted Price:
      <span class="per-placeholder">
        $0
      </span>
    </div>
    <div class="finishing-price-box">
      Finishing (Per Print):
      <span class="finishing-placeholder">
        $0
      </span>
    </div>
    <%- if current_active.is_a?(Broker) %>
      <div class="bd-box">
        Broker Discount:
        <span class="bd-placeholder">
          <%= "#{@lcd.broker_discount}%" %>
        </span>
      </div>
    <% end %>
    <div class="total-price-box">
      Total Cost:
      <span class="total-placeholder">
        $0
      </span>
    </div>

  
  </div>
  <div class="submit-order">
    <%= button_tag "Add to Cart", class: "btn btn-place-order" %>
  </div>
<% end %>