
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">

  <h2><%= "LCD - #{@lcd.name}" %></h2>
  <div class="galleria" id="galleria" style="height: 518px; width: 100%;">
    <%- if SliderImage.where(product_type: @lcd.name_for_db).any? %>
      <%- SliderImage.where(product_type: @lcd.name_for_db).each do |image| %>
        <%= image_tag(image.slide_image_file_name.url()) %>
      <%- end %>
    <%- end %>
  </div>
  <%- if @lcd.has_video? %>
    <div class='item-video'>
      <h3>Product Video</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @lcd.video %>" frameborder="0" allowfullscreen=""></iframe>
      
    </div>
    <hr/>
   <%- end %>
  <div class="item-description">
    <h3>Item Description</h3>
    <strong>
      Material: 
    </strong>
    <%= @lcd.name %>
    <br/>
    <p><%= @lcd.description.html_safe() %></p>
  </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
<div class="order_form">
    <%= render 'order_form' %>
   
</div>

</div>


<script>
  gallery_setup = function() {

    Galleria.loadTheme("<%=  asset_path('galleria.classic.js') %>");
    
    Galleria.configure({
      height: 458, 
      width: 580, 
      responsive: true, 
      lightbox: false, 
      autoplay: true,
      transition: 'fade',
      showInfo: false
    });

    Galleria.run('#galleria');
  };
  $(document).ready(gallery_setup);
  $(document).on('page:load', gallery_setup);
</script>
