<%= form_tag url_for(:controller => 'orders', :action => 'create'), class: "large-formats-form", multipart: true do %>
  <div id="product-options" data-price-url="<%=  get_price_large_format_path(@large_format) %>" data-l-price="0" data-g-price="0" data-fin-price="0" data-rate="" data-max-w="<%=  @large_format.max_width() %>" data-max-l="<%=  @large_format.max_length() %>"></div>
  <%= hidden_field_tag '[order]product_type', 'large_format' %>
  <%= hidden_field_tag '[order]product_id', @large_format.id %>
  <%= hidden_field_tag '[order]product_rate', '' %>
  <%= hidden_field_tag '[order]total_price', '' %>
  <%= hidden_field_tag '[order]unit_price', '' %>

  <div class="item-size product-box group">
    <h3>Size</h3>
    <div class="wlu-box">
      <%= label_tag "[order][details]width", "Width" %>
      <%= text_field_tag "[order][details]width", nil, class: "product-width form-control" %>
    </div>
    <div class="wlu-box">
      <%= label_tag "[order][details]length", "Length" %>
      <%= text_field_tag '[order][details]length', nil, class: "product-length form-control" %>
    </div>
    <div class="wlu-box">
      <%= label_tag "[order][details]unit", "Unit" %>
      <%= select_tag '[order][details]unit', options_for_select(["inch", 'feet']), class: "product-unit form-control" %>
    </div>
  </div>

  <% if @large_format.has_two_side %>
    <div class="item-side product-box">
    <h3>Side</h3>
    <%= select("order", "[details]side", options_for_select(@large_format.side_options), {}, class: "side-selection form-control", data: {name: "#{@large_format.name}", url: change_side_large_format_path(@large_format)}) %>
    </div>
  <% else %>
    <%= hidden_field_tag '[order][details]side', 1 %>  
  <% end %>

  <div class="item-thickness product-box">
    <h3>Thickness</h3>
    <%= select("order", "[details]thickness_id", @large_format.large_format_thicknesses.collect {|t| [ "#{t.thickness}#{t.unit}", t.id ] }, {include_blank: 'Please select your thickness'}, class: "thickness-selection form-control") %>
  </div>

  <div class="item-finishing-options product-box">
    <h3>Finishing</h3>

    <div class="finishing-select group">
      <% if @large_format.large_format_finishings.has_none.any?%>
        <!-- None Check Box -->
        <%= check_box_tag "[order][details]finishing[]", "None", true, id: "finishing_none", class: "finish-select" %>
        <label for="finishing_none" class="finsihing-select">None</label>
      <% end %>

      <% @large_format.large_format_finishings.each_with_index do |f, i| %>
        <% next if f.name == "None" %>
        <%= check_box_tag "[order][details]finishing[]", f.name, false, id: "finishing_#{f.id}", class: "finish-select" %>
        <label for="<%= "finishing_#{f.id}" %>" class="finsihing-select">
          <%= f.name %>
        </label>
      <% end %>

    </div>
 
    <div class="grommets-box mtl hidden">
      <div class="row">
        <div class="col-lg-8">
          <%= label_tag '[details]grommets_quantity', "# of Grommets Per Print" %>
        </div>
        <div class="col-lg-4">
          <%= text_field_tag '[order][details]grommets_quantity', nil, class: "grommets-field form-control"%>
        </div>
      </div>
    </div>
  </div>

  <div class="item-quantity product-box">
    <h3>Quantity</h3>
    <span style="position: relative; font-size: 10px; left: 0; top: -5px;">*Enter number of prints</span>
    <div class="quantity-box">
      <div class="row mgl">
        <div class="col-lg-6">
          <%= label_tag '[order]quantity', "Number of Prints" %>
        </div>
        <div class="col-lg-6">
          <%= text_field_tag '[order]quantity', 1, class: "quantity-field form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="item-upload product-box">
    <h3>Upload Files</h3>
    <div class="input-group">
      <%= text_field_tag 'design_pdf_name', nil, class: "form-control", placeholder: "Font Design", readonly: true %>

      <span class="input-group-btn">
        <span class="btn btn-primary btn-file">
          Browse 
          <%= file_field_tag '[order]design_pdf', class: 'design_pdf' %>
        </span>
      </span>
    </div>
    <span class='error hidden' style="display: block; width: 100%; color: red;">Please upload your design!</span>
    <div class="input-group file_2 mtt hidden">
      <%= text_field_tag 'design_pdf_2_name', nil, class: "form-control", placeholder: "Back Design", readonly: true  %>
      <span class="input-group-btn">
        <span class="btn btn-primary btn-file">
          Browse 
          <%= file_field_tag '[order]design_pdf_2', class: 'design_pdf' %>
        </span>
      </span>
    </div>
    <span class='error hidden' style="display: block; width: 100%; color: red;">Please upload your design!</span>

  </div>
  
  <div class="item-checkout product-box">
    <div class="divider"></div>
    <div class="per-price-box">
      Cost Per Print:
      <span class="per-placeholder">
        $0
      </span>
    </div>
    <div class="finishing-price-box">
      Finishing(Per Print):
      <span class="finishing-placeholder">
        $0
      </span>
    </div>
    <div class="total-price-box">
      Total Cost:
      <span class="total-placeholder">
        $0
      </span>
    </div>
    <div class="divider"></div>
  
  </div>
  <div class="submit-order">
    <%= button_tag "Place My Order", class: "btn btn-place-order" %>
  </div>
<% end %>