
<div class="col-main">

  <h2><%= "Large Format - #{@large_format.name}" %></h2>
  <div class="galleria" id="galleria" style="height: 518px">
    <%- if SliderImage.large_format.any? %>
      <%- SliderImage.large_format.each do |image| %>
        <%= image_tag(image.slide_image.url()) if image.slide_image? %>
      <%- end %>
    <%- end %>
  </div>

  <div class="item-description">
    <h3>Item Description</h3>
    <strong>
      Material: 
    </strong>
    <%= @large_format.name %>
    <br/>
    <strong>
      Sides:
    </strong>
    <%= @large_format.sides %>
    <p><%= @large_format.description.html_safe() %></p>
  </div>
</div>

<div class="order_form col-side">
  <% if user_signed_in? %>
    <%= render 'order_form' %>
  <% else %>
    <%= link_to new_user_session_path() do %>
      <%= image_tag('lg_not_signed_in.jpg') %>
    <% end %>   
  <% end %> 
</div>

<script>
  gallery_setup = function() {

    Galleria.loadTheme("<%=  asset_path('galleria.classic.js') %>");
    
    Galleria.configure({
      height: 458, 
      width: 580, 
      responsive: true, 
      lightbox: false, 
      autoplay: true,
      transition: 'fade',
      showInfo: false
    });

    Galleria.run('#galleria');
  };
  $(document).ready(gallery_setup);
  $(document).on('page:load', gallery_setup);
</script>