#side-nav
  .logo
    = link_to image_tag('sira_print_logo.png'), root_path
  .sidenavbar
    %h3 Browse
    %ul
      %li{ class: "#{cp(large_formats_path)}" }
        = link_to large_formats_path() do
          Large Formats
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}      
      %li{ class: "#{cp(lcds_path)}" }
        = link_to lcds_path() do
          LED Displays & LGP
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %li{ class: "#{cp(metal_signs_path)}" }
        = link_to  metal_signs_path() do
          Directional Sign
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}      
      %li{ class: "#{cp(plastic_cards_path)}" }
        = link_to  plastic_cards_path() do
          Plastic Cards
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}