%tr
  %td
    = order.order_id
  %td
    - if order.delivery_address
      = order.delivery_address.html_safe()
  %td
    - order.ordered_products.each do |p|
      %ul
        %li
          = "#{p.quantity}x #{p.product.name}"
  %td
    - if order.ordered_date
      = "#{order.ordered_date.strftime('%d, %m, %Y')}"
  %td
    = "$#{order.total}"
  %td
    %span{class: "order_status status_#{order.status}"}
      = order.status.camelize
  %th{class: 'my_order_links'}
    - if order.status == 'payed'
      = link_to " Invoice", invoice_order_path(order, format: 'pdf')
    - if order.status == "open"
      = link_to "Cancel", cancel_order_path(order)
      | 
      = link_to "Update", cart_path()
      - if order.delivery_method
        |
        = link_to "Pay", check_out_order_path(order)   
